<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My Super Awesome Site!</title>
    <link rel='stylesheet' href='~/css/bootstrap.css'>
    <link rel="stylesheet" href="~/css/styles.css">
  </head>
  <body>
    @RenderBody()
    @Html.Partial("Footer")
  </body>
</html>
